<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  {% if robots %}
    <meta name="robots" content="{{ robots }}"/>
  {% endif %}
  <base href="{{ base }}"/>
  {% if description %}
    <meta name="description" content="{{ description }}"/>
  {% endif %}
  {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ og_url }}"/>
  {% if og_image %}
    <meta property="og:image" content="{{ og_image }}"/>
  {% else %}
    <meta property="og:image" content="{{ logo }}"/>
  {% endif %}
  <meta property="og:site_name" content="{{ name }}"/>
  <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
  <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
  <link href="catalog/view/theme/ashshop/stylesheet/stylesheet.css" rel="stylesheet">
  {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
  {% endfor %}
  {% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
  {% endfor %}
  <script src="catalog/view/javascript/common.js" type="text/javascript"></script>
  {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
  {% endfor %}
  {% for analytic in analytics %}
    {{ analytic }}
  {% endfor %}
</head>
<body>

<header>
  <div class="container">
    <div class="row">

      <div class="col-md-2 col-sm-2 col-xs-6">
        <div id="logo" class="logo-header">
          {% if logo %}
            {% if home == og_url %}
              <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive"/>
            {% else %}
              <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}"
                                        class="img-responsive"/></a>
            {% endif %}
          {% else %}
            <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}
        </div>

      </div>
      <div class="col-md-3 col-sm-3  col-xs-6 currency-block">
        {{ language }}
        {{ currency }}
      </div>
      <div class="col-md-4 col-sm-4">
        {{ search }}
      </div>
      <ul class="col-md-3 col-sm-3">
        <li class="dropdown"><a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle"
                                data-toggle="dropdown"><i class="fa fa-user"></i> <span
                    class="hidden-xs hidden-sm hidden-md">{{ text_account }}</span> <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-right">
            {% if logged %}
              <li><a href="{{ account }}">{{ text_account }}</a></li>
              <li><a href="{{ order }}">{{ text_order }}</a></li>
              <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
              <li><a href="{{ download }}">{{ text_download }}</a></li>
              <li><a href="{{ logout }}">{{ text_logout }}</a></li>
            {% else %}
              <li><a href="{{ register }}">{{ text_register }}</a></li>
              <li><a href="{{ login }}">{{ text_login }}</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="header-phone"> {{ telephone }}</li>
      </ul>
    </div>
  </div>
</header>
<nav id="top" class="top-menu">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 cart-wrapper">

        <nav id="menu" class="navbar">
          <div class="navbar-header"><span class="toggle-top-text hidden-lg hidden-md hidden-sm"><?php echo $text_information; ?>:</span>
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">

              <ul class="nav navbar-nav">
                {% for information in informations %}
                <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                {% endfor %}

              </ul>




          </div>
        </nav>

      </div>
      <div class="col-sm-3 cart-wrapper">
        {{ cart }}
      </div>
    </div>

  </div>
</nav>


{{ menu }}
